<div class="finapp-side-nav-menu">
  <mat-nav-list>
    <h6 mat-subheader>Overview</h6>
    <a mat-list-item [routerLink]="['portfolio/summary']">
      <mat-icon mat-list-icon>dashboard</mat-icon>
      <span mat-line>Portfolio Summary</span>
    </a>
    <h6 mat-subheader>Savings</h6>
    <a mat-list-item [routerLink]="['portfolio/summary']">
      <mat-icon mat-list-icon>account_balance</mat-icon>
      <span mat-line>Deposits</span>
    </a>
    <h6 mat-subheader>Investments</h6>
    <a mat-list-item [routerLink]="['portfolio/summary']">
      <mat-icon mat-list-icon>swap_vert</mat-icon>
      <span mat-line>Stocks</span>
    </a>
  </mat-nav-list>
</div>
