<div layout="column">
  <app-header></app-header>
  <app-breadcrumb></app-breadcrumb>
  <div class="finapp-body" layout="row">
    <mat-sidenav-container>
      <mat-sidenav #sidenav
                   class="mat-elevation-z4"
                   mode="side"
                   opened="true">
        <app-side-nav></app-side-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <div class="finapp-side-nav-content">
          <router-outlet></router-outlet>
        </div>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <app-footer></app-footer>
</div>
