<div layout="column">
  <app-header></app-header>
  <app-breadcrumb></app-breadcrumb>
  <div class="finapp-body" layout="row">
    <mat-sidenav-container>
      <mat-sidenav #sidenav
                   class="mat-elevation-z4"
                   mode="side"
                   opened="true">
        <app-side-nav></app-side-nav>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <mat-divider layout="row"></mat-divider>
  <app-footer></app-footer>
</div>
